.projects {
    width: 80%;
    /* max-width: 1200px; */
    margin: 20% auto;
    padding:50px;
    border: 1px solid red;
}

.projects h1 {
    text-align: center;
}

.projects_wrapper {
    border: 1px solid pink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex: 40%; */

    /* align-items: center; */
}




@media screen and (max-width:600px) {
    .projects {
        margin: 20px auto;
    }
 
}