.projects {
    /* width: 80%; */
    /* max-width: 1200px; */
    /* display: flex; */
    margin: 10%;
    /* padding:50px; */
    border: 1px solid red;

}

.projects h1 {
    text-align: center;
}

.projects_wrapper {
    border: 1px solid pink;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    /* justify-content: center; */
    /* flex: 1 1; */
    

    /* align-items: center; */
}




@media screen and (max-width:600px) {
    .projects {
        margin: 20px auto;
    }
 
}