.project {
    /* color: white; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    margin:50px;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid yellow;
}

.project-image {
    display: flex;
    justify-content: center;
}
/* .project-basicInfo {
    /* box-sizing: border-box; */
    /* width: 50px; */
/* } */ */


.project-detail{
    background: #242429;
    /* box-sizing: border-box; */
    width: 400px;
    padding: 0 20px;
    border-radius: 4px;
}
.project-langs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10px;
}
.project-lang {
    border: 2px solid #e64861;
    color: #e64861;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;
}
.project-desc {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #aeaeb7;
}
.project-links {
    display: flex;
    justify-content: center;
    margin: 20px 0 10px 0;
}
.project-links a {
    font-size: 2rem;
    margin: 0 10px;
    color:#e64861;
} 

@media screen and (max-width:1000px) {
    .project {
        flex-direction: column;
        margin: 50px 0;
    }
    /* .project-basicInfo {
        width: 100%;
        height: 150px;
        padding: 15px;
    } */
    .project-detail {
      width: 100%;
      padding:15px;
    }
}

@media  screen and (max-width:600px) {

    .project-desc {
        font-size: 1.1rem;
    }
    /* .project-basicInfo {
        height: 150px;
    } */
}