.about {
    width: 90%;
    margin: 150px auto;
    max-width: 1200px;
    padding-top: 100px;
    /* border: 1px solid yellow; */
}


.about-section {
    display: flex;
    justify-content: center;
}
.section-heading {
    font-size: 4rem;
    margin: 10px 0;
    color: #6c6c7a;
    display: flex;
    justify-content: center;
}

.about-text{
    font-size: 1.7rem;
    color:#93939f;
    font-weight: 200;
    /* font-size: 1.2rem; */
    /* line-height: 1.5rem; */
    /* color: #93939f; */
    width:100%;
    /* max-width:700px; */
    text-align:justify;
    line-height: 2;
}

.about-subSection {
    display: flex;
    justify-content: center;
}

.about-subSection ul {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto;
    /* width: 330px; */
    margin: 0;
    padding: 20px;
}
.about-subSectionitem {
    position: relative;
    padding: 0 25px;
    margin-bottom:10px;
    /* color: #93939f;
    font-size: 1.2rem; */
    font-size: 1.7rem;
    color:#93939f;
    font-weight: 200;
}
.about-subSectionitem:before {
    content: "▹";
    position: absolute;
    left: 0px;
    font-size: 1.8rem;
    color: #e64861;
    line-height: 20px;
}
.about-messageHead{
    font-size: 2.5rem;
    color: #787887;
}
.about-text--light {
    color:#93939f;;
    font-size: 1.2rem;
}
.about-contact {
    color: #787887;
}

@media screen and (max-width:1000px) {
    .about-section {
        flex-direction: column;
    }
    .about-sectionImage {
        width: 60%;
        margin: 30px 0;
    }
}

@media screen and (max-width:600px) {
    .section-heading {
        font-size: 3.5rem;
    }
    .about {
        margin: 100px auto;
    }
    .about-text {
        margin-top: 30px;
    }
    .about-button {
        margin: 10px 0;
        font-size: 1rem;
    }
    .about-quote{
        font-size: 1.2rem;
    } 
    .about-quoteAuthor {
        font-size: 1rem;
    }
}