.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	box-shadow: 0 2px 2px rgba(247, 235, 235, 0.1);
	z-index: 1;
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(33, 31, 31);
}
.navbar-logo {
	width: 75px;
	height: 75px;
	margin: 0 20px;
}
.navbar-list-desktop {
	list-style: none;
	display: flex;
	margin: 20px;
}
.navbar-list-mobile {
	display: none;
}
.navbar-mobile-icon {
	display: none;
}
@media screen and (max-width: 1000px) {
	.navbar-list-desktop {
		display: none;
	}
	.navbar-mobile-icon {
		color: #81817a;
		display: inline;
		font-size: 2.5rem;
		cursor: pointer;
		margin: 0 5px;
	}
	.navbar-list-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 0;
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;
		font-size: 1.2rem;
		z-index: 1;
		background-color: #18181b;
		transition: 0.2s;
		width: 100%;
		overflow: hidden;
		border: 4px solid #363639;
	}

	.navbar-list-mobile a {
		width: 100%;
		display: inline-flex;
		justify-content: center;
		padding: 20px 0;
		color: white;
		border-bottom: 1px solid #2d2d2d;
	}
	.navbar-list-mobile a:hover {
		background-color: #2d2d2d;
		cursor: pointer;
		color: white;
	}

	.navbar-list-mobileShow {
		height: 285px;
		width: -webkit-fill-available;
	}
}
