.navbar {
	position: sticky;
	top: 0;
	box-shadow: 0 2px 2px rgba(247, 235, 235, 0.1);
	z-index: 10000;
	padding: 10px 0;
}
.navbar-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar-logo {
	width: 100px;
	height: 100px;
	margin: 0 20px;
}
.navbar-list-desktop {
	list-style: none;
	display: flex;
	margin: 0;
}
.navbar-list-mobile {
	display: none;
}
.navbar-mobile-icon {
	display: none;
}
@media screen and (max-width: 1000px) {
	.navbar-list-desktop {
		display: none;
	}
	.navbar-mobile-icon {
		color: #81817a;
		display: inline;
		font-size: 2.5rem;
		cursor: pointer;
		margin: 0 5px;
	}
	.navbar-list-mobile {
		display: block;
		margin: 0;
		padding: 0;
		height: 0;
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;
		font-size: 1.2rem;
		z-index: 1000;
		background-color: #18181b;
		transition: 0.2s;
		width: 100%;
		overflow: hidden;
	}
	.navbar-list-mobileShow {
		height: 240px;
	}
}
