.modal-container {
  background-color: #1e1e1e;
  color: #7d7d83;
  padding: 25px;
}

.modal-image {
  display: flex;
  justify-content: center;
}

.image {
  width: 150px;
  height: 150px;
}

.title {
  text-align: center;
  font-size: 3.2rem;
}

.modal-langs {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.modal-lang {
  padding: 10px;
}

.modal-links {
  display: flex;
  justify-content: center;
  margin: 20px 0 10px 0;
}

.modal-links a {
  font-size: 2rem;
  margin: 0 10px;
  color: #e64861;
}

.modal-description p {
    font-size: 1.2rem;
    text-align:center;
}

.modal-content ul {
  list-style: none;
  margin: 0;
}

.modal-content-item {
  position: relative;
  padding: 0 25px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 200;
}

.modal-content-item:before {
  content: '▹';
  position: absolute;
  left: 0px;
  font-size: 1.8rem;
  color: #e64861;
  line-height: 20px;
}