.intro{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin:0 auto;
    padding: 150px 0 200px 0;
    width: 90%;
    max-width: 1100px;
}

.hero-image {
    width: 300px;
    height: 300px;
}
.intro-msg {
    color: #e64861;
    font-size: 1.2rem;
    word-spacing: 0.3em;
    margin: 10px 0;
}
.intro-desc {
    display: flex;
    box-sizing: border-box;
    flex-direction:column;
    justify-content: center;
    width:650px;
    margin-left:30px;
}
.whiteColor {
    color :white;
}
.intro-head {
    color:#aeaeb7;
    font-size: 3rem;
    margin:10px 0;
    font-weight: 600;
    font-family: sans-serif;
}
.intro-text {
    margin: 0;
    font-size: 1.7rem;
    color:#93939f;
    font-weight: 600;
}
.intro-aboutLink {
    color:#e64861;
    border: 2px solid #e64861;
    border-radius:4px;
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    padding:10px 15px;
    max-width:170px;
    text-align: center;
    display: inline-block;
    margin: 50px 0 20px 0;
    transition: 0.3s;
}
.intro-aboutLink:hover{
    background: rgba(24, 186, 189,0.1);
}
@media screen and (max-width :1100px) {
   .intro {
       grid-template-columns:100%;
       padding: 50px 0 100px 0;
   }

   .intro-desc {
       box-sizing: border-box;
       width: 100%;
   }
       .intro-image {
        display: none;
    }
}
@media screen and (max-width :600px) {

    .intro-desc {
      margin:0;
    }
    .intro-head {
        font-size: 2.4rem;
    } 
    .intro-text {
        font-size: 1.5rem;
    } 
    .intro-aboutLink  {
        font-size: 1.2rem;
    }

 }