.box {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 200px;
}
.head {
  display: inline-block;
  padding: 0px 12px;
  color: rgb(153, 153, 153);
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-size: 11px;
}

.container {
  width: 100%;
  margin-left: 30px;
  display: block;
  margin-top: 30px;
  border-radius: 3px;
  margin-left: 30px;
  background-color: #18181b;
}
.row:before {
  content: ' ';
  display: table;
}
.row:after {
  clear: both;
}
.row_md_12 {
  display: flex;
  flex-direction: column;
}
.timeline_centered {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
}
.timeline_centered:before {
  content: '';
  position: absolute;
  display: block;
  width: 4px;
  background: #e64861;
  top: 20px;
  z-index: -1;
  bottom: 20px;
  margin-left: 19px;
}
.timeline_entry {
  margin-bottom: 10px;
  clear: both;
}
.timeline_icon {
  display: block;
  width: 40px;
  font-size: 20px;
  height: 40px;
  background-color: #f9bf3f;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f2f3f7;
  -webkit-box-shadow: 0 0 0 5px #f2f3f7;
  box-shadow: 0 0 0 5px #e64861;
  line-height: 35px;
  float: left;
}
.timeline_icon_2 {
  background: #de1db4;
}

.timeline_icon_4 {
  background: #2fa499;
}

.timeline_entry_inner {
  position: relative;
  top: 0px;
  margin-left: 11.5px;
}
.timeline_icon_3 {
  display: block;
  width: 20px;
  font-size: 20px;
  height: 20px;
  background: #292929;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #e64861;
  -webkit-box-shadow: 0 0 0 5px #e64861;
  box-shadow: 0 0 0 5px #e64861;
  line-height: 35px;
  float: left;
}

.label {
  position: relative;
  background: #292929;
  padding: 1.5em;
  margin-left: 60px;
}
.label h2 {
  font-size: 20px;
  font-weight: 1000;
  margin: 0 0 30px 0;
  color: #79797e;
}
.label h2 span {
  -ms-filter: alpha(opacity=40);
  filter: alpha(opacity=40);
  font-weight: 0;
  font-size: 15px;
  color: #79797e;
}

.label p {
  font-size: 20px;
  margin-bottom: 1.5em;
  color: #aeaeb7;
}

p > a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(121, 189, 252);
  text-decoration: none;
}

@keyframes text {
  from {
    transform: translateX(-30px);
    opacity: 0.1;
  }
}

@media (max-width: 440px) {
  .container {
    padding: 0 42px 0 0;
  }
}

@media screen and (max-width: 700px) {
  .label h2 {
    font-size: 15px;
  }
  .label h2 span {
    font-size: 10px;
  }
  .label p {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .box {
    margin-left: 0px;
    margin-right: 50px;
  }
}
