html,body {
  margin: 0;
  background-color: #18181b;
  font-family: 'Cardo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 10px;
  background:#242429;
}
::-webkit-scrollbar-thumb{
  border-radius:20px;
  background-color: #303036;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color:white;
  text-decoration: none;
}

@media (max-width: 300px){
	body {
		margin-right: -60px !important;
	}
}